<div class="chat-head">
  <div class="left-header">
    <div class="chat-title">
      テストチャット
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main">
  <div class="chat-content">
    <div class="up-content">
      <div class="message-name">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 17:21:30
      </div>
    </div>
    <div class="down-content">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
    <div class="chat-content">
    <div class="up-content">
      <div class="message-name">
        Sim
      </div>
      <div class="message-date">
        2020/3/31(Wed) 17:21:30
      </div >
    </div>
    <div class="down-content">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>
</div>

<div class="chat-footer">
  <div class="form-input">
    <input class="input-message" type="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="submit-btn" type="submit" value="送信">
  </form>
</div>