<div class="side-bar-head">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom2</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom3</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom4</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom5</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom6</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom7</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="chat-link">
      <a href="#">techroom8</a>
    </div>
  </div>
</div>