<div class="side-bar-head">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-btn">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-bar-main">
  <% current_user.rooms.each do |room| %>
    <div class="chat-room">
      <div class="chat-link">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>