.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-bar-head {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a {
  color: #fafafa;
  font-size: 16px;
  text-decoration: none;
}
.chat-btn a {
  border: 1px solid lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}
.side-bar-main {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.chat-room {
  padding: 20px 0 40px;
}
.chat-link a {
  color: white;
  text-decoration: none;
}
.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.chat-head {
  height: 100px;  
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.chat-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.chat-end-btn {
  margin-top: 40px;
}
.chat-end-btn a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}
.chat-main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}
.message {
  margin-top: 10px;
  margin-bottom: 40px;
}
.upper-message {
  display: flex;
}
.message-user {
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}
.message-date {
  font-size: 12px;
  color: #999;
}
.lower-message {
  margin-top: 10px;
  font-size: 14px;
  color: #434A54;
}
.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  width: 100%;
  background-color: white;
  display: flex;
}
.input-message {
  height: 50px;
  padding-left: 10px;
  border: none;
  width: 100%;
}
.submit-btn {
  font-size: 16px;
  padding: 0 20px;
  background-color: #38AEF0;
  color: white;
  height: 50px;
  border: none;
  margin-left: 15px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}